<?xml version="1.0" encoding="utf-8"?>
<Project xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <!-- Minimal Environment.props: Set only the game path -->
  <PropertyGroup>
    <GamePath>D:\Games\SteamLibrary\steamapps\common\Valheim</GamePath>
  </PropertyGroup>
</Project>
